@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

body {
    margin: 0;
    padding: 0;
    background-image: url(./bg.png);
    background-repeat: repeat;
    font-family: 'noto serif', sans-serif;
    display: flex;
}

.container {
    display: flex;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    padding: 8px 18px;
    margin: 8px;
    width: 320px;
    background-color: #DCF8C6;
    border-radius: 25px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}

.card:hover {
    cursor: pointer;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.4)
}
.card-wrapper {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-wrapper img {
    width: 40x;
    height: 40px;



   
}